*  {
    margin: 0;
    padding: 0;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
  opacity: 0; /* Garantiza que esté oculto inicialmente */
}
.nav  {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.logo   {
    cursor: pointer;
    width: 10rem;
}

.navigation  {
    width: 80%;
    display: flex;
    background-color:#F97773;
    border-radius: 50px;
    height: 4rem;
    width: 50rem;
    align-items: center;
}
.navigation p  {
    color: white;
}
.search-bar  {
    display: flex;
}
.search-box {
    cursor: pointer;
    margin-top: 2.5rem;
    margin-left: 8rem;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 30px;
    height: 30px;
    background: white;
  }
  
  .search-box:hover .search-txt {
    width: 90px;
    padding: 0 4px;
  }
  
  .search-box:hover .search-btn {
    background: #EF4A60;
  }
  
  .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    font-size: 1rem;
    width: 0px;
    font-family: "Poppins", serif;
    font-weight: 400;
  }
  
  .search-btn {
    color: #F97773;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
  }
  .info {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
  }
  
  .text {
    position: relative;
    display: inline-block; 
    align-items: center;
  }
  
  .text p {
    margin-top: 10px;
    padding: 10px 15px; 
    z-index: 2; 
    font-size: 1rem;
    position: relative;
  }
  
  .text::before {
    content: ""; 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    width: 100%;
    height: 1rem;
    background-color: white;
    
    border-radius: 50px; 
    z-index: 1;
    transition: transform 0.3s ease; 
  }
  
  .text:hover::before {
    transform: translate(-50%, -50%) scale(1); 
    width: 120%; 
    height: 90%; 
  }
  
  .text:hover p {
    color: #EF4A60;
  }


  /* FISRT INFORMATION SECT */
  .principal {
    position: relative;
    overflow: hidden;
}

/* Hidden elements by default */
.principal .prin-l,
.principal .sect-first {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* When visible */
.principal .prin-l.active,
.principal .sect-first.active {
    opacity: 1;
    transform: translateY(0);
}
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* Sube un poco */
  }
  100% {
      transform: translateY(0); /* Vuelve a la posición original */
  }
}

/* Aplicar la animación a las imágenes */
.images img {
  animation: float 3s ease-in-out infinite; /* Duración de 3s, movimiento continuo */
  transition: transform 0.3s ease; /* Suavidad al interactuar */
}




  .principal  {
    margin-top: 3rem;
  }
  .prin-l  {
    display: flex;
  }
  .text-principal  {
    width: 29%;
    padding-left: 6rem;
    height: 300px;
  }
  .text-principal h4  {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
    color: #EF4A60;
  }
  #description  {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  #invite  {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px ;
    margin-bottom: 1.5rem;
  }
  .text-principal h1  {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 62px;
    line-height: 1.28;
  }
  #dest-top {
    color: #F06779;
  }
  #new  {
    padding-left: 2rem;
  }
  .images  {
    width: 71%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-image: url('https://raw.githubusercontent.com/NikSala10/Jetly/f497c67f2e939e73851fa81410ca1e09be89ea41/assets/fondo.svg');
  }
 
  .sect-first{
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    width: 31rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: 4%;
    margin-bottom: 3rem;
    margin-top: -6.5rem;
}

.input-group {
    display: flex;
    gap: 2rem;
}
.labels-o  {
  flex-direction: column;
  display: flex;
}
.input-item {
    display: flex;
    gap: 0.5rem;
   
}

label {
    font-size: 14px;
    color: #EF4A60;
    margin-bottom: 5px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

select, input[type="date"] {
    padding: 7px;
    border: 1px solid #FF888D;
    border-radius: 50px;
    font-size: 10px;
    width: 110px;
    font-family: "Poppins", serif;
    font-weight: 300;
    color: #EF4A60;
    font-style: normal;
    outline: none;
}

button.explore-btn {
    background-color: #EF4A60;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 13px 12px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

button.explore-btn:hover {
    background-color: #FF888D;
}















  /* ABOUT US */
  .about-us  {
    background-image: url(./assets/aboutus.svg);
    height: 350px;
    text-align: center;
  }
  .about-us {
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(50px); /* Desplazada hacia abajo */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Animación de desvanecimiento y movimiento */
  }
  
  .about-us.visible {
    opacity: 1; /* Se hace visible */
    transform: translateY(0); /* Vuelve a su posición original */
  }
  .about-us h1 { 
    color: white;
    padding-top: 3rem;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
    font-size: 35px;
    line-height: 1;
  }
  /* Animaciones individuales para los textos */
#what, #your, #explore {
  opacity: 0;
  transform: translateY(20px); /* Movimiento hacia arriba */
  transition: opacity 1s ease, transform 1s ease;
}

#what.visible, #your.visible, #explore.visible {
  opacity: 1; /* Hacer visible el texto */
  transform: translateY(0); /* Vuelve a su posición original */
}

.about-us p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.about-us p.visible {
  opacity: 1;
  transform: translateY(0);
}
  #jet { 
    font-family: "Gluten", serif;
    font-size: 35px;
  }
  #your  {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
  }
  #explore  {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: transparent; /* Elimina el relleno */
    -webkit-text-stroke: 1px #ffffff; /* Define el color y grosor del contorno */
    font-size: 45px;
  
  }
  .about-us p  {
    padding-top: 2rem;
   padding-left: 6rem;
   padding-right: 6rem;
    font-size: 17px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  /* Card */
  .card-top  {
    justify-content: center;
    display: flex;
    margin-top: 1rem;
    height: 380px;
  }
  .card {
    width: 500px;
    height: 300px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
    margin-top: 2.5rem;
  }
  
  .card .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .item:hover {
    transform: scale(1.95);
    transition: all 1s ease-in-out;
    rotate: 360deg;
  }
  
  .item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
  }
  
  .item--1 {
    background: #FD8C9C;
  }
  
  .item--2 {
    background: #FF9F9C;
  }
  
  .item--3 {
    background: #FF888D;
  }
  
  .item--4 {
    background: #FD8C9C;
  }
  
  .quantity {
    font-size: 25px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .text {
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -10px;
  }
  
  .text--1 {
    color: rgb(255, 255, 255);
  }
  
  .text--2 {
    color: rgb(255, 255, 255);
  }
  
  .text--3 {
    color: rgb(255, 255, 255);
  }
  
  .text--4 {
    color: rgb(255, 255, 255);
  }
  

  .places   {
    margin-top: 4.5rem;
    height: 720px;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .places {
    opacity: 0;
    transform: translateY(50px); /* Para que se desplace desde abajo */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Animación para cuando el contenedor entre en la vista */
.places.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Animación para hacerla más fluida */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  .cards  {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  .places #top  {
    font-family: "Gluten", serif;
  
    color: white;
    text-align: center;
    font-size:60px ;
  }
  .places #top b  {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: transparent; /* Elimina el relleno */
    -webkit-text-stroke: 2px #ffffff; /* Define el color y grosor del contorno */
   
  }
  
  .card-container {
    width: 350px;
    height: 450px;
  }
  #subtitle-t  {
   margin-bottom: 2rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: white;
  }
  #title-t { 
    color: white;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  #sub-back { 
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  
  }
  .name  {
    color: white;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 2rem;
  }
  .desc  {
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
  }
  .award  {
    color: #EF4A60;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8px;
  }
  .fondis  {
    width: 400px;
    height: 500px;
    padding: 0.01rem;
    background: rgba(255, 255, 255, 0.425); /* Fondo blanco translúcido */
    border-radius: 20px; /* Bordes redondeados */
    backdrop-filter: blur(15px); /* Difuminado de fondo */
    -webkit-backdrop-filter: blur(15px); /* Compatibilidad con navegadores WebKit */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde translúcido */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-container:hover > .card-t {
    transform: rotateY(180deg);
    transition: transform 500ms;
  }
  
  .card-container .card-t {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 500ms;
    transform-style: preserve-3d;
    border-radius: 16px;
  }
  
  .card-container .card-t .front-card,
  .card-container .card-t .back-card {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .card-container .card-t .front-card {
    background: url("https://images.pexels.com/photos/17920141/pexels-photo-17920141/free-photo-of-honolulu.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
  }
  
  .card-container .card-t .front-card .content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 20px;
    backdrop-filter: brightness(80%);
    height: 100%;
    width: 100%;
  }
  
  .card-container .card-t .front-card .content h1 {
    font-weight: bold;
    font-size: 32px;
  }
  
  .card-container .card-t .front-card .content h2 {
    font-weight: 500;
    font-size: 20px;
    color: #d8d7d7;
  }
  
  .card-container .card-t .back-card {
    background: url('https://images.pexels.com/photos/4612306/pexels-photo-4612306.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
  }
  
  .card-container .card-t .back-card .content {
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(70%);
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  
  .card-container .card-t .back-card .content img {
    width: 150px;
    margin-bottom: -28px;
  }
  
  .card-container .card-t .back-card .content .name {
    font-size: 36px;
    font-weight: bold;
  }
  
  .card-container .card-t .back-card .content .name span {
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
  }
  
  .card-container .card-t .back-card .content .desc {
      margin-top: 8px;
  }
  
  .card-container .card-t .back-card .content hr {
      margin: 12px 0;
  }
  
  .card-container .card-t .back-card .content .award-container {
      display: flex;
      align-items: center;
      gap: 4px;
  }
  
  .card-container .card-t .back-card .content .award-container .award {
      padding: 8px;
      background-color: #ffffff;
      font-size: 11px;
      text-align: center;
      border-radius: 20px;
  }

  /* card2 */
  .card-container .card-t .front-card2,
  .card-container .card-t .back-card2 {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .card-container .card-t .front-card2 {
    background: url("https://images.pexels.com/photos/720254/pexels-photo-720254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
  }
  
  .card-container .card-t .front-card2 .content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 20px;
    backdrop-filter: brightness(80%);
    height: 100%;
    width: 100%;
  }
  
  .card-container .card-t .front-card2 .content h1 {
    font-weight: bold;
    font-size: 32px;
  }
  
  .card-container .card-t .front-card2 .content h2 {
    font-weight: 500;
    font-size: 20px;
    color: #d8d7d7;
  }
  
  .card-container .card-t .back-card2 {
    background: url('https://images.pexels.com/photos/11042709/pexels-photo-11042709.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
  }
  
  .card-container .card-t .back-card2 .content {
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(70%);
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  
  .card-container .card-t .back-card2 .content img {
    width: 150px;
    margin-bottom: -28px;
  }
  
  .card-container .card-t .back-card2 .content .name {
    font-size: 36px;
    font-weight: bold;
  }
  
  .card-container .card-t .back-card2 .content .name span {
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
  }
  
  .card-container .card-t .back-card2 .content .desc {
      margin-top: 8px;
      color: #ffffff;
  }
  
  .card-container .card-t .back-card2 .content hr {
      margin: 12px 0;
  }
  
  .card-container .card-t .back-card2 .content .award-container {
      display: flex;
      align-items: center;
      gap: 4px;
  }
  
  .card-container .card-t .back-card2 .content .award-container .award {
      padding: 8px;
      background-color: #ffffff;
      font-size: 11px;
      text-align: center;
      border-radius: 20px;
  }

  
  /* card3 */
  .card-container .card-t .front-card3,
  .card-container .card-t .back-card3 {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .card-container .card-t .front-card3 {
    background: url("https://images.pexels.com/photos/13963358/pexels-photo-13963358.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
  }
  
  .card-container .card-t .front-card3 .content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 20px;
    backdrop-filter: brightness(80%);
    height: 100%;
    width: 100%;
  }
  
  .card-container .card-t .front-card3 .content h1 {
    font-weight: bold;
    font-size: 32px;
  }
  
  .card-container .card-t .front-card3 .content h2 {
    font-weight: 500;
    font-size: 20px;
    color: #d8d7d7;
  }
  
  .card-container .card-t .back-card3 {
    background: url('https://images.pexels.com/photos/28226627/pexels-photo-28226627/free-photo-of-nieve-nevar-amanecer-paisaje.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
  }
  
  .card-container .card-t .back-card3 .content {
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(70%);
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  
  .card-container .card-t .back-card3 .content img {
    width: 150px;
    margin-bottom: -28px;
  }
  
  .card-container .card-t .back-card3 .content .name {
    font-size: 36px;
    font-weight: bold;
  }
  
  .card-container .card-t .back-card3 .content .name span {
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
  }
  
  .card-container .card-t .back-card3 .content .desc {
      margin-top: 8px;
  }
  
  .card-container .card-t .back-card3 .content hr {
      margin: 12px 0;
  }
  
  .card-container .card-t .back-card3 .content .award-container {
      display: flex;
      align-items: center;
      gap: 4px;
  }
  
  .card-container .card-t .back-card3 .content .award-container .award {
      padding: 8px;
      background-color: #ffffff;
      font-size: 11px;
      text-align: center;
      border-radius: 20px;
  }




 

/* 
PARALLAX EFECT */

.parallax { 
  background-image: url('https://images.pexels.com/photos/1010657/pexels-photo-1010657.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-sect h1  {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120px;
  color: transparent;
  -webkit-text-stroke: 4px white; 
  text-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.2),  /* Sombra suave cerca del texto */
    0 2px 4px rgba(0, 0, 0, 0.1);  /* Efecto difuminado */
  
}
.parallax2 { 
  background-image: url('https://images.pexels.com/photos/3223552/pexels-photo-3223552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 { 
  background-image: url('https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  /* FOOTER */
  .footer  {
    display: flex;
    gap: 15rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
  }
  .logo-fo p  {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    width: 18rem;
  }
  .social-container {
    display: flex;
    gap: 15px; 
    margin-top: 0.8rem;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: white; 
    border-radius: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; 
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.social-icon svg {
    width: 24px; 
    height: 24px;
    filter: grayscale(1); 
    transition: filter 0.3s ease;
}

.social-icon:hover {
    background-color: #F56268; 
}
.social-icon:hover svg {
    color: white; /
}

.social-icon:hover svg {
    filter: grayscale(0); 
}
  .text-fo h3  {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  .text-fo h3:hover { 
    color: #EF4A60;
    border-bottom: 2px solid #EF4A60;
    transition: 0.01s;
  }
  .text-fo p  {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  #copy { 
    display: flex;
    text-align: center;
    width: 100%;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    margin-top: 2rem;
  }

  .item {
    opacity: 0;
    transform: translateX(100px); /* Desplazamiento hacia la derecha */
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1.5, 0.5, 1); /* Rebote */
}

/* Estado visible */
.item.visible {
    opacity: 1;
    transform: translateX(0); /* Vuelve a su posición original */
}



